@media screen and (orientation:landscape) {
	.cs-box-element {
		font-size: 10vh;
		min-height: 30vh;
		width: 60vh;
	}
}

@media screen and (orientation:portrait) {
	.cs-box-element {
		font-size: 10vw;
		min-height: 30vw;
		width: 60vw;
	}
}

.cs-box-element-head {
	font-size: 1.5em;
	height: 1em;
	padding-top: .125em;
	vertical-align: bottom;
}

.cs-box-element-head-symbol {
	height: .875em;
	stroke: currentColor;
}

.cs-box-element-title {
	font-size: 0.5em;
	height: 1em;
	margin: .25em 0 .375em;
}

.cs-box-element-content {
	text-align: justify;
	font-size: 0.25em;
	margin: .75em 1em 0;
	padding-bottom: .75em;
}
