@import url("CSScaling.css");

/*
Element
*/

.cs-element {
	margin-bottom: 0.125em;
	margin-right: 0.125em;
	height: 4em;
	min-width: 8em;
	overflow: hidden;
	padding: .125em 0;
	text-align: center;
	vertical-align: top;
	width: auto;
}

.cs-element.cs-image {
	height: 8.5em;
	padding: 0 0 .125em;
}

.cs-inline .cs-element {
	display: inline-block;
	min-width: auto;
	width: 3.9375em;
}

.cs-list .cs-element {
	height: 1.25em;
	padding: .041666em 0;
	text-align: left;
	width: auto;
}

/*
Head
*/

.cs-element-head {
	font-size: 1.75em;
	line-height: 1em; /* 1.75 */
	height: 1em; /* 1.75 */
	padding: .07143em 0; /* .125 */
}

.cs-image .cs-element-head {
	font-size: 6.5em;
	padding: 0;
}

.cs-image .cs-element-head img {
	max-height: 1em;
}

.cs-list .cs-element-head {
	float: left;
	font-size: 1em;
	line-height: 1em; /* 1 */
	height: 1em; /* 1 */
	padding: .125em; /* .125 */
}

.cs-list .cs-element-main {
	overflow: auto;
}

/*
Title
*/

.cs-element-title {
	font-size: 1em;
	line-height: 1.25em;
	margin: 0 0.5em;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cs-inline .cs-element-title {
	margin: 0 0.125em;
}

.cs-list .cs-element-title {
	font-size: 0.625em;
	line-height: 1.25em; /* .75 */
	margin: 0;
	margin-right: 0.5em;
	padding-left: .2em; /* .125 */
	text-align: left;
	width: auto;
}

.cs-element-no-content .cs-element-title {
	font-size: 1.333em;
	line-height: 1.5em; /* 2 */
}

.cs-list .cs-element-no-content .cs-element-title {
	font-size: 1em;
	line-height: 1.25em;
}

/*
Content
*/

.cs-element-content {
	font-size: 0.5em;
	line-height: 1.5em; /* 1 */
	margin: 0 1em;
	height: 1.5em; /* 1 */
}

.cs-inline .cs-element-content {
	margin: 0 0.25em;
}

.cs-list .cs-element-content {
	text-align: left;
	font-size: 0.3125em;
	line-height: 1.5em; /* 1 */
	margin: 0;
	margin-right: 1em;
	height: 1.5em; /* 1 */
	padding-left: .4em; /* .125 */
}

.cs-element-content-long {
	text-align: justify;
}

.cs-element-content-short {
	overflow-x: hidden;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.cs-element-no-content .cs-element-content {
	display: none;
}

/*
Right - TODO
*/

.cs-element-right {
	display: none;
}

.cs-list .cs-element-right {
	display: block;
	float: right;
	max-height: 1.25em;
	text-align: left;
}

/*
Inputs - TODO
*/

.cs-element input,.cs-element button {
	margin: .25em 0;
}

.cs-element input {
	border: none;
	border-bottom: thin solid currentColor;
	color: inherit;
	font: inherit;
	width: 100%;
}
