.cs-symbols-fill,.Symbol.Fill {
	fill: currentColor;
	height: 1em;
	stroke: transparent;
}

.cs-symbols-stroke,.Symbol.Stroke {
	fill: transparent;
	height: 1em;
	stroke: currentColor;
}

.Symbol.Message {
	transition: all 0.33s ease-in-out;
}

.Symbol.Message:hover {
	transform: scale(-1, 1);
}

.Symbol.Loading {
	animation: LoadingRotate infinite 2s ease-in-out;
}

.Symbol.Settings:hover {
	animation: SettingsRotate infinite 2s ease-in-out;
}

@keyframes LoadingRotate {
	/* Symmetric every 180 degrees */
	0% { transform: rotate(0deg); }
	50% { transform: rotate(180deg); }
	100% { transform: rotate(180deg); }
}

@keyframes SettingsRotate {
	/* Symmetric every 45 degrees */
	0% { transform: rotate(0deg); }
	33% { transform: rotate(45deg); }
	100% { transform: rotate(45deg); }
}
