@import url("CSScaling.css");

.cs-title {
	text-align: left;
	font-size: 1.5em;
	line-height: 1.333em;
	margin-top: 1.3333em; /* 2 */
	margin-bottom: 0.25em; /* 0.375 */
	margin-right: 0.08333em; /* 0.125 */
}
