.cs-vertical-split {
	width: 100%;
}

.cs-vertical-split-left,.cs-vertical-split-right {
	width: 43%;
}

.cs-vertical-split-left {
	float: left;
	margin-left: 3%;
}

.cs-vertical-split-right {
	float: right;
	margin-right: 3%;
}
