:root {
	font-size: 3em;
	--color-1: salmon;
	--color-2: white;
}

.cs-background {
	background: var(--color-1);
}

.app {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
}

span.Symbol {
	margin-left: 0.25em;
}

.Clock {
	font-size: 4em;
}