:root {
	font-size: 3em;
	--color-1: salmon;
	--color-2: white;
}

.cs-background {
	background: var(--color-1);
}

.app {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

span.Symbol {
	margin-left: 0.25em;
}

.Clock {
	font-size: 4em;
}

.CSCalendar {
	border-radius: 0.06125em;
	overflow: hidden;
	font-size: 4em
}

.CSCalendar th,.CSCalendar td {
	background-color: black;
	color: white;
	font-size: 0.1em;
	padding: 0.125em 0.25em;
	text-align: right;
}

.CSCalendar th.Title, .CSCalendar th.Weekday {
	text-align: center;
}

.CSCalendar th.WeekNumber {
	font-size: 0.075em;
}

.CSCalendar td.WeekNumber {
	text-align: center;
}

.CSCalendar td.Today {
	background-color: red;
}